
.wallpaper-container   {
  width: 100%;
  min-height: 60vh;
  background:linear-gradient(rgba(8, 0, 58, 0.393), rgba(8, 0, 58, 0.146)), url('../../assets/back.jpg');
  background-size: cover;
  
   display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 
 
}

.overlay-text {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(251, 231, 231);
  font-size: 2rem;
  font-weight: bold;
  
}

.heading h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 30px;  
  justify-items: center; 
  max-width: 1500px; 
  margin: 0 auto; 
}

.child img {
  width: 100%;  
  height: auto;
  max-width: 100%;  
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .parent {
    grid-template-columns: 1fr;  
  }
}
